body {
    text-align: center;
}

img {
    width: 10%;
    height: 20%;
}

.link {
    font-size: 25px;
    list-style: none;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.link:hover {
    background-color: blue;
}

#about {
    background-color: yellow;
}

html {
    scroll-behavior: smooth;
}
#hobby {
    background-color: orange;
}
#work {
    background-color: red;
}